* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(74, 74, 74);
}

img {
  width: 100%;
}

a:link {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
}

/* ============ Header =================== */
header.main-header,
#hero {
  background: #fafafa;
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  padding: 0 15px;
}

.wrap h1 {
  text-align: center;
  padding-top: 15px;
}

nav.main-nav {
  margin: 20px 0 40px;
}

nav.main-nav ul li {
  list-style: none;
  text-align: center;
  background: #fff;
  margin-bottom: 5px;
  padding: 10px 0;
  border: 1px solid rgba(74, 74, 74, 0.08);
  border-radius: 5px;
}

nav.main-nav ul li:last-child {
  margin-bottom: 0;
}

nav.main-nav ul li a {
  display: block;
  color: rgb(74, 74, 74);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.15s ease-in-out;
}

nav.main-nav ul li a:hover {
  color: rgba(74, 74, 74, 0.7);
}

/* ============ Hero =================== */

#hero .wrap img {
  width: 75%;
  margin: auto;
}

#hero .wrap p.description {
  margin: 25px 0 40px;
  text-align: center;
  color: rgba(74, 74, 74, 0.7);
}

/* ============ Section =================== */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  max-width: 1024px;
  margin: auto;
}

section h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
}

/* ============ Card =================== */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.card h3 {
  margin: 25px 0 10px;
}

.card p.card__description {
  text-align: center;
  color: rgba(74, 74, 74, 0.7);
}

/* =============================================
                  MEDIA QUERIES
================================================ */
/* 768px */
@media (min-width: 768px) {
  nav.main-nav {
    margin-bottom: 20px;
  }

  nav.main-nav ul {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  nav.main-nav ul li {
    background: none;
    border: none;
    padding: 0 20px;
    margin: 0;
  }

  #hero .wrap {
    flex-direction: row;
    padding: 30px 15px 50px;
  }

  #hero .wrap img {
    width: 100%;
    padding: 0 0 0 20px;
  }

  #hero .wrap p.description {
    order: -1;
    margin: 0;
    text-align: left;
  }
}

/* 1024 */
@media (min-width: 1024px) {
  header .wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .wrap h1 {
    /* padding-top: 0; */
  }

  nav.main-nav {
    padding-top: 15px;
  }

  nav.main-nav ul li:last-child {
    padding-right: 0;
  }
}
